<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>BADGES</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <button *ngIf="myRole == role.TEACHER" ion-button (click)="getPostBadge()">Crear Insignias</button>
  <button *ngIf="myRole == role.SCHOOLADMIN" ion-button (click)="deleteBadge()">Reset todas las insignias asignadas</button>
  <form (ngSubmit)="postBadge()" #loginForm="ngForm" *ngIf="enablePostBadge == true">
    <ion-list no-lines>
      <ion-item>
        <ion-label stacked>Nombre de la insignia:</ion-label>
        <ion-input type="text" name="name" [(ngModel)]="createBadge.name" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Imagen:</ion-label>
        <ion-input type="text" name="image" [(ngModel)]="createBadge.image" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Valor:</ion-label>
        <ion-input type="text" name="value" [(ngModel)]="createBadge.value" required></ion-input>
      </ion-item>      
    </ion-list>
    <button ion-button full type="submit" [disabled]="!loginForm.form.valid">Crear</button>
  </form>    
  <!-- badges -->
    <ion-item *ngIf="badgesCount">
      BADGES({{ badgesCount }})
      <button ion-button clear item-right icon-only>
        <ion-icon name="ios-arrow-forward"></ion-icon>
      </button>
    </ion-item>
  <ion-refresher (ionRefresh)="getBadges($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="isDisabled == true">
    <ion-item *ngFor="let badge of badges" (click)="goToBadgeDetail(badge)">
      <ion-thumbnail item-left>
        <img [src]="badge.image">
      </ion-thumbnail>
      <h2>{{ badge.name }}</h2>
      <h3>{{ badge.value }}</h3>
      <button ion-button clear item-right icon-only>
        <ion-icon name="ios-arrow-forward"></ion-icon>
      </button>
    </ion-item>    
  </ion-list>
  <ion-list *ngIf="isDisabled == false">
    <ion-item *ngFor="let badgeRelation of badgeRelations">     
      <h2>Id del Punto: {{ badgeRelation.badgeId }}</h2>
      <h3>Id del Estudiante: {{ badgeRelation.studentId }}</h3>
      <h3>Id de la Relación: {{ badgeRelation.id }}</h3>
      <button ion-button clear item-right icon-only>
        <ion-icon name="ios-arrow-forward"></ion-icon>
      </button>
    </ion-item>
  </ion-list>  
</ion-content>
